.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3% 0 3%;
}

.nameQuote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 5%;
  font-size: 3.5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 5%;
  font-size: 1.7rem;
}
