*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: rgb(235, 236, 240);
  font-family: 'Times New Roman', Times, serif;
}

.App {
  width: 100%;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(60px, auto) repeat(5, 60px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
}

.calculator-grid > button:hover {
  background-color: #fafafa;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(123, 122, 135);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  margin: 0;
}

.output .current-operand {
  color: white;
  font-size: 1.3rem;
}

.orange-buttton {
  background-color: rgb(227, 142, 64);
}
